h2{
    text-align: center;
    font-family: century;
}
.a{
    border-radius: 60px;
    border: 1px solid black;
    margin-left: 120px;
}
.b{
    border-radius: 60px;
    border: 1px solid black;
    margin-left: 120px;
}
.c{
    border-radius: 60px;
    border: 1px solid black;
    margin-left: 120px;
}
.a:hover{
    transform: scale(1.1);
    opacity: 0.8;
}
.b:hover{
    transform: scale(1.1);
    opacity: 0.8;
}
.c:hover{
    transform: scale(1.1);
    opacity: 0.8;
}
input{
    margin-left: 180px;
}
button{
    position: relative;
}
